<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <!--Font Styles -->
    
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Gurajada" rel="stylesheet">

    <!-- icon styles here -->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--jQuery script -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

    <!--ajax Script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Site Scripts -->
    <script src="assets/app.js"></script>
    <title>CS Scraper</title>
</head>

<body class="mainContainer">
    <!--Nav Bar-->
    <div id="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed">
            <a class="navbar-brand" href="/">Reddit CS Scraper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <button class="btn btn-link pull-right" data-target="#storyModal" data-toggle="modal" style="color: gray">New Story</button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Sort By...
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" id="recent" href="#">Most Recent</a>
                            <a class="dropdown-item" id="active" href="#">Most Active</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="favorites" href="#">My Favorites</a>
                            <a class="dropdown-item" id="myPosts" href="#">My Posts</a>
                        </div>
                    </li>
                </ul>


                <div class="form horiz">
                    <div id="NamePlate"></div>
                    <button class="btn btn-outline-success my-2 my-sm-0" class="btn btn-default" data-target="#loginModal" data-toggle="modal"
                        id="loginBtn">Login</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" class="btn btn-default" data-target="#signupModal" data-toggle="modal"
                        id="signUpBtn">Sign Up!</button>
                </div>
            </div>
        </nav>
    </div>
    <!--Main Body of Content-->
    <div>
        <div class=>

            <div class="module" id="module">
                {{!--
                <div class="headline">Stouiji Board</div> --}}

            </div>
        </div>
        {{{body}}}
    </div>


</body>

</html>